.slow {
  transition-duration: 500ms;
}

.medium {
  transition-duration: 300ms;
}

.fast {
  transition-duration: 150ms;
}

.layout-appear {
  opacity: 0.01;
  transform: scale3d(1.02, 1.02, 1.02) translate3d(0, 0, 0);
  transition-timing-function: ease-out;
}

.layout-appear.layout-appear-active {
  opacity: 1;
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transition: all 200ms ease-out;
}

.layout-enter {
  opacity: 0.01;
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
}

.layout-enter.layout-enter-active {
  opacity: 1;
  transition: all 200ms ease;
  transition-timing-function: ease-in;
}

.layout-exit {
  opacity: 1;
  transition: all 200ms ease-in;
}

.layout-exit.layout-exit-active {
  opacity: 0.01;
}

.layout-enter-done {
  opacity: 1;
  transition: all 200ms ease;
  transition-timing-function: ease-in;
}

.slide-up {
  transform: translate3d(0, 10px, 0);
  transition-property: all;
  transition-timing-function: ease-out;
}

.slide-up-enter {
  transform: translate3d(0, 0, 0);
}

.fade-in {
  opacity: 0.01;
  transition-property: all;
  transition-timing-function: ease-out;
}

.fade-in-enter {
  opacity: 1;
}


.slide-enter {
  opacity: 0.01;
  transition: all 1000ms ease-in-out;
  transform: translate3d(0, 100px, 0);
}

.slide-enter.slide-enter-active {
  opacity: 1;
  transition: all 1000ms ease-in-out;
  transform: translate3d(0, 0, 0);
}

.slide-exit {
  opacity: 1;
  left: 0;
  top: 0;
  height: auto;
  position: absolute;
  transition: all 1000ms ease-in-out;
  transform: translate3d(0, 0, 0);
  width: 100%;
}

.slide-exit.slide-exit-active {
  opacity: 0.01;
  transform: translate3d(0, -100px, 0);
}

.slide-exit-done {
  display: none;
}
