.layout-appear {
  opacity: 0.01;
  transform: scale3d(0);
  transition-timing-function: cubic-bezier(0.6, 0.05, 0.25, 1.15);
}

.layout-appear.layout-appear-active {
  opacity: 1;
  transform: scale3d(1, 1, 1);
  transition: all 700ms ease-in-out;
  transition-timing-function: cubic-bezier(0.6, 0.05, 0.25, 1.15);
}

.layout-enter {
  opacity: 0.01;
}

.layout-enter.layout-enter-active {
  transition: all 700ms ease;
  opacity: 1;
  transition-timing-function: cubic-bezier(0.2, 0.8, 0.1, 1.2);
}

.layout-exit {
  opacity: 1;
  transition: all 200ms ease-in;
}

.layout-exit.layout-exit-active {
  opacity: 0.01;
}
