.button:focus:not(:active),
.button.is-focused:not(:active) {
  box-shadow: none;
}

.button[disabled],
button[disabled] {
  cursor: not-allowed;
}

.button[disabled]:hover,
.button[disabled]:focus,
.button[disabled]:active,
button[disabled]:hover,
button[disabled]:focus,
button[disabled]:active {
  transform: scale3d(1, 1, 1);
}

.button {
  text-transform: uppercase;
}

.button.is-text {
  padding-left: 0;
  padding-right: 0;
  text-decoration: none;
}

.button.is-text:hover,
.button.is-text:active,
.button.is-text:focus {
  background-color: initial;
}

.button.is-primary {
  background-color: $turqoise;
  color: $button-text-color;
}

.button.is-pill {
  border-radius: 30px;
  box-shadow: 0px 2px 10px rgba(121, 132, 153, 0.2);
  font-family: $family-code;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.2rem 2.125rem 0.3rem;
  min-height: 2.375rem;
  min-width: 140px;
  transition: all 150ms ease-in-out;
}

.button.is-pill:hover {
  box-shadow: 0px 4px 20px rgba(121, 132, 153, 0.3);
}

.button.is-primary:hover,
.button.is-primary:focus,
.button.is-primary:active {
  background-color: lighten(saturate($turqoise, 100%), 10%);
  color: $button-text-color;
  transition: all 150ms ease-in-out;
}

.is-copy-button {
  color: lighten($text, 30%);
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.625rem;
}

.is-copy-button:hover {
  color: $text;
}
