.button:focus:not(:active),
.button.is-focused:not(:active) {
  box-shadow: none;
}

.button[disabled],
button[disabled] {
  cursor: not-allowed;
}

.button[disabled]:hover,
.button[disabled]:focus,
.button[disabled]:active,
button[disabled]:hover,
button[disabled]:focus,
button[disabled]:active {
  transform: scale3d(1, 1, 1);
}

.button {
  text-transform: uppercase;
}

.button.is-text {
  text-decoration: none;
}

.button.is-text:hover,
.button.is-text:active,
.button.is-text:focus {
  background-color: initial;
}

.button.is-primary {
  background-color: $turqoise;
  border-radius: 30px;
  color: $button-text-color;
  font-family: $family-code;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.375rem 3rem 0.5rem;
  min-height: 2.65rem;
  min-width: 11.5rem;
}

.button.is-primary:hover,
.button.is-primary:focus,
.button.is-primary:active {
  background-color: lighten(saturate($turqoise, 100%), 10%);
  color: $button-text-color;
  transition: all 150ms ease-in-out;
}
