$addonsFormHeight: 57px;

.is-addons-form-toggler-height {
  height: $addonsFormHeight + 24px;
}

.is-addons-form-height {
  height: $addonsFormHeight;
}

.field.has-addons {
  background-color: $code-background;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom: 2px solid black;
  max-width: 300px;

  @media screen and (max-width: 330px) {
    max-width: 100%;
  }
}

.form:not(.tx-in-progress) .field.has-addons:hover path,
.form:not(.tx-in-progress) .field.has-addons:hover .input,
.form:not(.tx-in-progress) .field.has-addons:hover .button,
.form:not(.tx-in-progress) .field.has-addons .input:focus {
  fill: white;
  color: black;
}

.form:not(.tx-in-progress) .field.has-addons:hover svg {
  filter: invert(100%);
}

.field.has-addons.is-right {
  margin: 0 0 0 auto;

  @media screen and (max-width: $tablet) {
    margin-left: 0;
  }
}

.field.has-addons .input.is-large {
  padding: 0;
  height: 100%;
}

.input {
  border: 0;
  box-shadow: none;
  color: $grey;
  font-weight: 300;
}

.input:focus {
  box-shadow: none;
}

.input.is-large {
  background-color: transparent;
  border-radius: 0;
  font-size: 2rem;
  padding: 1.5rem 1rem 1rem;

  @media screen and (max-width: $tablet) {
    max-width: 100%;
    min-width: 100%;
  }
}

.field.has-addons .control:not(:last-child) {
  margin-right: 0;
}

.field.has-addons .button {
  color: $grey;
  font-weight: 900;
  font-family: $code-family;
  height: 100%;
  margin: 0;
  padding: 1rem 1.5rem;
}

.form:not(.tx-in-progress) .field.has-addons .button:hover,
.form:not(.tx-in-progress) .field.has-addons .button:focus {
  background-color: lighten($grey-lighter, 6%);
}

.form.is-success .control,
.form.is-success .field.has-addons .button:hover {
  background-color: rgba(174, 216, 147, 0.1);
  color: $green;
}

.form.is-success .field.has-addons {
  border-bottom-color: $green;
}

.form.is-danger .field.has-addons {
  border-bottom-color: $red;
}

.form.is-warning .field {
  opacity: 0.4;
}

.form.is-warning .field.has-addons {
  border-bottom-color: $yellow;
}

.field-addon--icon {
  height: 1.375rem;
  margin: 1rem 1rem 0.5rem;
  width: 1.375rem;
}

.field-addon--zep-token-logo path {
  fill: $grey;
}

.field-addon--error-exclamation path {
  fill: $red;
}

.form.is-warning .field-addon--icon path {
  fill: $yellow;
}
