.hero.is-dark.is-bold {
  background-color: $hero-dark;
  background-image: none;
}

.hero.is-link {
  background-color: #0095e4;
  background-image: linear-gradient(lighten(#0095e4, 2%), #0095e4, #0083d0);
}

.hero--title {
  font-weight: 400;
}

.hero.is-light {
  background-color: $hero-light;
}

.hero--title.content:not(:last-child),
.hero--title.title:not(:last-child),
.hero--title.subtitle:not(:last-child) {
  margin-bottom: 0.8rem;
}

.hero a {
  transition: border 300ms ease-in-out;
}

.hero a:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.hero p {
  font-size: 1.125rem;
  margin: 1rem 0;
}

.hero p:first-child {
  margin-top: 0;
}

.hero p:last-child {
  margin-bottom: 0;
}
