.list--wrapper {
  overflow-x: auto;
  overflow-y: hidden;
}

.list.is-fullwidth {
  width: 100%;
}

.list--row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  transition: all 600ms ease-out;
}

.list--cell {
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
  display: inline-flex;
  font-size: 0.9rem;
  text-align: left;
  transition: all 600ms ease-out;
}

.list--row.is-active .list--cell {
  border-color: #ececec;
}

.list--cell__head {
  border-bottom-width: 1px;
  border-width: 0 0 2px;
  color: #788899;
  font-family: "Roboto Mono", monospace;
  font-weight: 900;
  letter-spacing: 0.05rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-left: 3px;
  padding-right: 3px;
  text-transform: uppercase;
}

.list--cell.list--cell__head {
  font-size: 0.625rem;
}

.list__has-padding {
  padding: 1rem 3px;
}

.list--row__head .list--cell__head:first-child {
  padding-left: 9px;
}

.list--cell:first-child > * {
  margin-left: 6px;
}

.list__wrapping-anchor {
  background-color: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
  height: 100%;
  font-size: inherit;
  text-align: inherit;
  width: 100%;
}

.list__wrapping-anchor:focus {
  outline: none;
}

.list__wrapping-anchor:hover {
  transform: scale3d(1, 1, 1);
}

.list--row:hover {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.03);
}

.list--row.is-active {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

.list--row.is-active *,
.list--row:hover,
.list--row:hover .list__wrapping-anchor {
  background-color: darken($white-bis, 1%);
  transition: all 600ms ease-out;
}

.list--row.list--row__blank-state:hover,
.list--row.list--row__head:hover {
  background-color: transparent;
}

.list--row_challenge {
  grid-template-columns: 500px minmax(50px, 120px) minmax(66px, 140px) minmax(50px, 120px) 40px 40px;

  @media screen and (max-width: $desktop - 1px) {
    grid-template-columns: 20fr minmax(50px, 63px) minmax(50px, 70px) minmax(50px, 50px) 40px 40px;
    grid-template-rows: minmax(130px, max-content) 97px;
  }
}

.list--row__two-column {
  grid-template-columns: 500px 70px 50px;

  @media screen and (max-width: $desktop - 1px) {
    grid-template-columns: 1fr 70px 50px;
  }
}

.list--row__two-column .list__has-padding {
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
}

.list--row__two-column svg {
  height: 21px;
}

.list--cell.break-words {
  word-break: break-all;
}

.list--row__blank-state {
  grid-template-columns: 1fr;
}

.list--cell__blank-state {
  display: block;
  font-size: 1rem;
  padding: 2rem;
  text-align: center;
}
