@import "./components/index";

.is-monospaced {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;

  font-family: $code-family;
}

.code--quick-install {
  border-radius: 30px;
  display: inline-block;
  padding: 0.5rem 1rem;
  min-width: 400px;
}
