::placeholder {
  color: rgba(255, 255, 255, 0.15);
}

::selection {
  background-color: $cyan;
  color: white;
}

// This fixes issues with Bulma and columns on mobile
.column {
  @media screen and (max-width: $desktop) {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.column .column {
  @media screen and (max-width: $desktop) {
    padding-left: 0;
    padding-right: 0;
  }
}

.columns {
  @media screen and (max-width: $desktop) {
    margin-left: 0;
    margin-right: 0;
  }
}

.section,
.hero-body {
  @media screen and (max-width: $desktop) {
    padding: 3rem 0.5rem;
  }
}
// END Bulma mobile fixes

a.button,
button,
a svg {
  transition: transform 100ms ease-out;
  transform: scale3d(1, 1, 1);
}

a.button:hover,
button:hover,
a:hover svg {
  transition: transform 150ms ease-in;
  transform: scale3d(1.04, 1.04, 1.04);
}

a.is-dark {
  color: $text;
}

.hero.is-dark.is-bold {
  background-color: $hero-dark;
  background-image: none;
}

.hero--title {
  font-weight: 400;
}

.hero--title.content:not(:last-child),
.hero--title.title:not(:last-child),
.hero--title.subtitle:not(:last-child) {
  margin-bottom: 0.5rem;
}

.is-monospaced {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;

  font-family: $code-family;
  letter-spacing: 0.05rem;
}

.code--quick-install {
  border-radius: 30px;
  display: inline-block;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  position: relative;
  min-width: 310px;

  @media screen and (max-width: $tablet - 1px) {
    max-width: 82%;
    min-width: 82%;
    padding-right: 1.25rem;
  }
}

// This is used by the page / layout transitions
.is-positioned-absolutely {
  position: absolute;
}

// This is used by the page / layout transitions
.is-full-width {
  width: 100%;
}

.has-text-primary {
  color: $turqoise !important;
}

.main-content--column {
  max-width: 1000px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.package-list--column {
  max-width: 760px;
}

@media screen and (max-width: 769px) {
  .reverse-column-order {
    display: flex;
    flex-direction: column-reverse;
  }
}

.icon-small {
  height: 16px;
  width: 16px;
}

.has-text-right--desktop {
  @media screen and (min-width: $tablet) {
    text-align: right;
  }
}

.is-size-4 {
  @media screen and (max-width: $desktop) {
    font-size: 1.25rem !important;
    line-height: 1.325;
  }
}
