.table--wrapper {
  overflow-x: auto;
}

.table thead th {
  color: #788899;
  font-family: $code-family;
  font-size: 0.625rem;
  font-weight: 900;
  letter-spacing: 0.05rem;
  padding-left: 0;
  text-transform: uppercase;
}

.table thead td,
.table thead th {
  border-bottom-width: 1px;
  padding-bottom: 0.5rem;
}

.table tbody td {
  padding-left: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.table tbody tr:hover {
  font-weight: 500;
}
