// Static variables
$body-line-height: 1.5;
$body-size: 16px;

$navbar-height: 4rem;

$size-1: 2.2rem;
$size-2: 1.8rem;
$size-3: 1.6rem;
$size-6: 0.9rem;

$weight-semibold: 500;

$family-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
$family-code: 'Roboto Mono', monospace;

$button-text-color: #191D1F;
$code-background: #f7f7f7;
$link-invert: #ffffff;
$hero-light: #f7f7f9;
$hero-dark: #252c31;
$navbar-background-color: #f6f6f9;
$navbar-grey: #23272a;
$navbar-item-color: #6f6f6f;
$navbar-item-hover: black;
$navbar-item-hover-background-color: none;
$navbar-dark-background-color: $navbar-grey;
$navbar-dark-item-color: white;
$navbar-dark-item-hover-color: #d9d9d9;
$text: #141414;
$green: #00C853;
$yellow: #FF9800;
$red: #FF005C;
$turqoise: #39e6e0;
$cyan: #00C1DC;

// Derived variables
$navbar-item-hover-color: $navbar-item-hover;

$link-color: $cyan;
$link-hover-color: lighten(saturate($cyan, 100%), 10%);
$link: $link-color;
$link-visited: $link-hover-color;
$link-hover: $link-hover-color;
$link-hover-border: $link-hover-color;
$link-focus: $link-hover-color;
$link-focus-border: $link-hover-color;
$link-active: $link-hover-color;
$link-active-border: $link-hover-color;

$hr-background-color: lighten($text, 70%) !default;
$hr-height: 1px !default
$hr-margin: 1rem 0 1.5rem 0 !default

$code: $text;

$dark: $navbar-grey;
