# You can automatically load this file using direnv: https://direnv.net/
# or just `source .envrc`

# Space-separated list of one or more required network ids
export REACT_APP_ALLOWED_NETWORK_IDS="1234 3"

# If an Ethereum provider is not available, then default to the following network name.
# This name is passed to ethers.js getDefaultProvider()
# See https://docs.ethers.io/ethers.js/html/api-providers.html#connecting-to-ethereum
export REACT_APP_DEFAULT_NETWORK_NAME=ropsten

# Enables the features slated for the next public release.  Should be false for production.
export REACT_APP_NEXT_RELEASE_FEATURE_FLAG=true

# Configures the Sentry DSN
# export REACT_APP_SENTRY_DSN="https://88ec4c41ade147ab95d38993f81fc134@sentry.io/1389525"

# Configures the Mixpanel app id
export REACT_APP_MIXPANEL_ID=e5f3a0b990d694b84981f493169f47c4
