.navbar {
  border-bottom: 1px solid lighten($text, 80%);
}

.navbar.is-dark {
  background-color: $navbar-grey;
  border-bottom: 1px solid lighten($text, 20%);
}

.navbar-brand svg {
  margin-top: 4px;
  stroke: black;
  stroke-width: 0.03rem;
}

.navbar-brand svg path {
  fill: black;
}

.navbar > .container {
  max-width: 960px;
}

a.navbar-item,
.navbar-link {
  // color: lighten($navbar-item-hover, 20%);
  color: $navbar-item-hover;
}

.navbar.is-dark a.navbar-item,
.navbar.is-dark .navbar-link {
  color: $navbar-dark-item-color;
}

.navbar.is-dark a.navbar-item.is-active,
.navbar.is-dark .navbar-link.is-active {
  color: $navbar-dark-item-hover-color;
}

.navbar-brand .navbar-item,
.navbar-brand .navbar-link {
  @media screen and (max-width: 1280px) and (min-width: 1090px) {
    padding-left: 0.5rem;
  }
}

.navbar-item,
.navbar-link {
  font-family: $code-family;
  font-size: 0.75rem;
  font-weight: 900;
  letter-spacing: 0.05rem;
  padding: 0.5rem 0.25rem;
  text-transform: uppercase;
}

.navbar-menu.is-active {
  @media screen and (max-width: $desktop) {
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.3);
    position: absolute;
    width: 100%;
  }
}

.navbar .navbar-burger {
  border: 0;
  outline: none;
}

.navbar .navbar-burger:hover {
  transform: scale3d(1, 1, 1);
}

.navbar.is-dark .navbar-brand svg path {
  fill: white;
}

.navbar.is-dark .navbar-brand svg {
  stroke: white;
}

.navbar.is-dark .navbar-burger {
  background-color: $navbar-dark-item-hover-color;
  transition: all 500ms ease-in-out;
}

.navbar.is-dark .navbar-burger:hover,
.navbar.is-dark .navbar-burger:active {
  background-color: darken($navbar-dark-item-hover-color, 5%);
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  @media screen and (max-width: 970px) {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

.navbar .navbar-item,
.navbar .navbar-link {
  @media screen and (max-width: 970px) {
    padding-left: 0.7rem;
    padding-right: 0.7rem;
  }
}
