.navbar {
  border-bottom: 1px solid lighten($text, 80%);
  z-index: 9999;
}

.navbar > .container {
  max-width: 890px;

  @media screen and (max-width: $fullhd) {
    max-width: 762px;
  }

  @media screen and (max-width: $widescreen) {
    max-width: 800px;
  }

  @media screen and (max-width: $desktop - 1px) {
    max-width: 100%;
  }
}

.navbar .navbar-brand,
.navbar .navbar-end {
  @media screen and (max-width: $desktop - 1px) {
    margin: 0 auto;
    max-width: 80%;
  }

  @media screen and (max-width: $tablet) {
    max-width: 94%;
  }

  @media screen and (max-width: 560px) {
    max-width: 92.5%;
  }
}

.navbar-end .navbar-item a {
  border-bottom: 1px solid transparent;
  padding: 0.25rem 0.1rem;
  transition: border 300ms ease-in-out;

  @media screen and (max-width: 970px) {
    padding: 0.25rem 0.75rem;
  }
}

.navbar-end .navbar-item a:hover {
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.navbar > .container .navbar-brand,
.container > .navbar .navbar-brand {
  @media screen and (min-width: 1088px) {
    margin-left: -0.325rem;
  }
}

.navbar.is-dark {
  background-color: darken($navbar-grey, 4%);
  background-image: linear-gradient(to bottom, darken($navbar-grey, 6%) 0%, #161616 70%, #121212 100%);
  border-bottom: 2px solid black;
}

.navbar-brand {
  @media screen and (max-width: $desktop - 1px) {
    z-index: 2000;
    position: relative;
  }
}

.navbar-brand svg {
  width: 200px;
}

.navbar-brand__secondary-logo {
  color: #75e5ea;
  font-family: $family-sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  letter-spacing: 0;
  position: relative;
  text-transform: capitalize;
  transition: color 150ms ease-in;
  top: -3px;
  top: -3px;
}

.navbar-brand__secondary-logo:hover {
  color: white;
}

.navbar-brand svg path {
  transition: fill 150ms ease-in;
}

.navbar-brand svg:hover path {
  fill: white;
}

.navbar-item.no-margin-right {
  margin-right: 0;
}

.navbar-brand svg.navbar-brand__tertiary-logo {
  margin-left: 0;
  margin-top: -0.125rem;
  opacity: 0.75;
  width: 90px;

  @media screen and (max-width: 460px) {
    display: none;
  }
}

.navbar-brand__tertiary-logo:hover {
  opacity: 1;
  transition: opacity 150ms ease-in-out;
}

.navbar-item svg:hover {
  transition: transform 150ms ease-in;
}

a.navbar-item,
.navbar-link {
  color: $navbar-item-hover;
}

.navbar.is-dark a.navbar-item,
.navbar.is-dark .navbar-link {
  color: $navbar-dark-item-color;
}

.navbar.is-dark a.navbar-item.is-active,
.navbar.is-dark .navbar-link.is-active {
  color: $navbar-dark-item-hover-color;
}

.navbar-item,
.navbar-link {
  font-family: $code-family;
  font-size: 0.75rem;
  font-weight: 900;
  letter-spacing: 0.05rem;
  padding: 0.5rem 0.25rem 0.325rem;
  text-transform: uppercase;

  @media screen and (max-width: $tablet) {
    font-size: 1rem;
  }

  @media screen and (min-width: 1090px) {
    margin-right: 0.2rem;
  }
}

.navbar-menu {
  @media screen and (max-width: $desktop - 1px) {
    text-align: right;
    display: block;
    position: absolute;
    transform: translate3d(0,-600px,0);
    transition: transform .4s;
    width: 100%;
  }
}

.navbar.is-dark .navbar-menu {
  background-color: transparent;

  @media screen and (max-width: $desktop - 1px) {
    background-color: darken($navbar-dark-background-color, 8%);
  }
}

.navbar-menu.is-active {
  transform: translateZ(0);
  box-shadow: 0 8px 16px rgba(10,10,10,.1);
}

.nav-background.is-active {
  cursor: pointer;
  pointer-events: auto;
  z-index: 999;
  opacity: .6;
}

.nav-background {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity .2s;
  opacity: 0;
  z-index: 1;
  background: black;
}


.burger {
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  font-size: 9px;
  height: 3em;
  margin-right: 1.5rem;
  margin-top: 1.25rem;
  margin-left: auto;
  position: relative;
  transition: 0.1s all ease-in-out;
  user-select: none;
  outline: none;
  width: 3em;

  @media screen and (min-width: $desktop) {
    display: none;
  }
}

.burger:after {
  content: "";
  display: block;
  position: absolute;
  height: 150%;
  width: 150%;
  top: -25%;
  left: -25%;
}

.burger .burger-lines {
  top: 50%;
  margin-top: -0.125em;
}

.burger .burger-lines,
.burger .burger-lines:after,
.burger .burger-lines:before {
  pointer-events: none;
  display: block;
  content: "";
  width: 100%;
  border-radius: 0.25em;
  background-color: rgba(150, 150, 150, 0.8);
  height: 0.25em;
  position: absolute;
  transform: rotate(0);
}

.burger .burger-lines .burger-lines:after {
  left: 0;
  top: -1em;
}

.burger .burger-lines .burger-lines:before {
  left: 1em;
  top: 1em;
}

.burger:hover {
  transform: scale3d(1, 1, 1);
}

.burger:hover .burger-lines,
.burger:hover .burger-lines:after,
.burger:hover .burger-lines:before {
  background-color: rgba(255, 255, 255, 1);
}

.burger.burger-slip .burger-lines:after, .burger.burger-slip .burger-lines:before {
  width: 2em;
}

.burger.burger-slip .burger-lines, .burger.burger-slip .burger-lines:after, .burger.burger-slip .burger-lines:before {
  transition: all 0.2s;
}

.burger.burger-slip .burger-lines:after {
  left: 0;
  top: -1em;
}

.burger.burger-slip .burger-lines:before {
  left: 1em;
  top: 1em;
}

.burger.burger-slip.open .burger-lines {
  transform: translateX(-2em);
  background-color: transparent;
}

.burger.burger-slip.open .burger-lines:before, .burger.burger-slip.open .burger-lines:after {
  left: 0.5em;
  top: 0px;
}

.burger.burger-slip.open .burger-lines:before {
  transform: translateX(2em) rotate(135deg);
}

.burger.burger-slip.open .burger-lines:after {
  transform: translateX(2em) rotate(-135deg);
}
